/* src/Footer.css */
.footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    
  }
  /* footer {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  footer:hover {
    border: 1px solid white;
  }
  
  footer:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  } */
  
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 300px;
    color: white;
  }
  
  .social-icons a {
    margin: 0 10px;
    
  }
  
  .social-icons img {
    width: 30px;
    height: 60px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
  }
  


  .footer-title {
    font-size: 30px;
    color: #e1e1e1;
    font-family: Arial;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .footer-title:focus,
  .footer-title:hover {
    color: #fff;
  }
  
  .footer-title:focus:after,
  .footer-title:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .footer-title:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }